body {
    background: #F2CFBB;
    vertical-align: center;
    margin: 0;
    padding: 0;
}

.mainScreen {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divAuthorization {
    background-color: #D9998B;
    width: 400px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.divSignIn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50px;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    color: #fff;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.divCreateAnAccount {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 49%;
    height: 50px;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.divSignInContent {
    width: 100%;
    height: 449px;
    padding: 0 50px;
    text-align: center;
}

.divCreateAnAccountContent {
    width: 100%;
    height: 449px;
    display: none;
    padding: 0 50px;
    text-align: center;
}

.divSignInEmailSubheader,
.divSignInPasswordSubheader {
    color: #fff;
    margin-top: 50px;
    padding: 0;
    font-size: 16px;
    text-align: left;
}

.divSignInPasswordSubheader{
    margin-top: 25px;
}

.divSignInEmailError {
    height: 15px;
    margin: 5px 0 5px;
    color: #fff;
    font-size: 14px;
}

.divCreateAnAccountEmailError {
    height: 15px;
    margin: 5px 0 5px;
    color: #fff;
    font-size: 14px;
}

.inputSignInEmail,
.inputSignInPassword {
    height: 30px;
    width: 100%;
    margin-top: 20px;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid #fff;
    font-size: 14px;
    color: #fff;
}

.inputSignInEmail:focus,
.inputSignInPassword:focus {
    outline: none;
    background-color: transparent;
}

.divSignInError {
    height: 15px;
    margin: 15px 0 5px;
    color: #fff;
    font-size: 16px;
}

.buttonSignIn {
    display: block;
    width: 200px;
    height: 40px;
    margin: 35px auto 0;
    background-color: #fff;
    border: 1px solid transparent;
    color: #D9998B;
    font-size: 16px;
}

.pForgotPassword {
    font-size: 14px;
    color: #fff;
    margin: 20px 0;
}

.divCreateAnAccountEmailSubheader,
.divCreateAnAccountPasswordSubheader,
.divCreateAnAccountRepeatPasswordSubheader {
    color: #fff;
    margin-top: 40px;
    padding: 0;
    font-size: 16px;
    text-align: left;
}

.divCreateAnAccountPasswordSubheader {
    margin-top: 15px;
}

.inputCreateAnAccountEmail,
.inputCreateAnAccountPassword,
.inputCreateAnAccountRepeatPassword {
    height: 30px;
    width: 100%;
    margin-top: 20px;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid #fff;
    font-size: 14px;
    color: #fff;
}

.inputCreateAnAccountEmail:focus,
.inputCreateAnAccountPassword:focus,
.inputCreateAnAccountRepeatPassword:focus {
    outline: none;
    background-color: transparent;
}

.buttonCreateAnAccount {
    display: block;
    width: 200px;
    height: 40px;
    margin: 20px auto 0;
    background-color: #fff;
    border: 1px solid transparent;
    color: #D9998B;
    font-size: 16px;
}

.divCheckingPasswords {
    height: 15px;
    margin: 5px 0 5px;
    color: #fff;
    font-size: 13px;
}


/* Color Theme Swatches in Hex */
.SHUUEMURA-1-hex { color: #D9A491; }
.SHUUEMURA-2-hex { color: #F2D5CE; }
.SHUUEMURA-3-hex { color: #A6A6A6; }
.SHUUEMURA-4-hex { color: #404040; }
.SHUUEMURA-5-hex { color: #0D0D0D; }
