body {
    background: #ffe7ec;
    vertical-align: center;
    margin: 0;
    padding: 0;
}

.mainScreen {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divAuthorization {
    background-color: #292122;
    width: 400px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.divSignIn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50px;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    color: #ffe7ec;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.divCreateAnAccount {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 49%;
    height: 50px;
    border-bottom: 1px solid #ffe7ec;
    border-left: 1px solid #ffe7ec;
    color: #ffe7ec;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.divSignInContent {
    width: 100%;
    height: 449px;
    padding: 0 50px;
    text-align: center;
}

.divCreateAnAccountContent {
    width: 100%;
    height: 449px;
    display: none;
    padding: 0 50px;
}

.divSignInEmailSubheader,
.divSignInPasswordSubheader {
    color: #ffe7ec;
    margin-top: 50px;
    padding: 0;
    font-size: 16px;
    text-align: left;
}

.inputSignInEmail,
.inputSignInPassword {
    height: 30px;
    width: 100%;
    margin-top: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ffe7ec;
    font-size: 14px;
    color: #ffe7ec;
}

.inputSignInEmail:focus,
.inputSignInPassword:focus {
    outline: none;
    background-color: transparent;
}

.buttonSignIn {
    display: block;
    width: 200px;
    height: 40px;
    margin: 70px auto 0;
    background-color: #ffe7ec;
    border: 1px solid transparent;
    color: #292122;
    font-size: 16px;
}

.pForgotPassword {
    font-size: 14px;
    color: #ffe7ec;
    margin: 20px 0;
}

.divCreateAnAccountEmailSubheader,
.divCreateAnAccountPasswordSubheader,
.divCreateAnAccountRepeatPasswordSubheader {
    color: #ffe7ec;
    margin-top: 40px;
    padding: 0;
    font-size: 16px;
    text-align: left;
}

.inputCreateAnAccountEmail,
.inputCreateAnAccountPassword,
.inputCreateAnAccountRepeatPassword {
    height: 30px;
    width: 100%;
    margin-top: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ffe7ec;
    font-size: 14px;
    color: #ffe7ec;
}

.inputCreateAnAccountEmail:focus,
.inputCreateAnAccountPassword:focus {
    outline: none;
    background-color: transparent;
}

.buttonCreateAnAccount {
    display: block;
    width: 200px;
    height: 40px;
    margin: 35px auto 0;
    background-color: #ffe7ec;
    border: 1px solid transparent;
    color: #292122;
    font-size: 16px;
}

.buttonCreateAnAccount:hover,
.buttonSignIn:hover {
    opacity: 0.9;
}
